Template.{{lowercase pack_name}}_form.onCreated(function(){});
Template.{{lowercase pack_name}}_form.onRendered(function(){});
Template.{{lowercase pack_name}}_form.helpers({});
Template.{{lowercase pack_name}}_form.events({});
Template.{{lowercase pack_name}}_form.onDestroyed(function(){});