<template name="{{app_lower_case}}_form">
    <!--TITULO DA PAGINA-->
    <h1>{{app_capitalize}}</h1>
    <!-- FORM DA PAGINA -->
    <article>
      <form id="{{app_lower_case}}_form">
        \{{> {{app_lower_case}}_fields}}
      </form>
    </article>
</template>