Template.{{app_lower_case}}_fields.onCreated(function(){});
Template.{{app_lower_case}}_fields.onRendered(function(){});
Template.{{app_lower_case}}_fields.helpers({});
Template.{{app_lower_case}}_fields.events({});
Template.{{app_lower_case}}_fields.onDestroyed(function(){});