<template name="{{app_lower_case}}_fields">
    <fieldset>
      <label>ID</label>
      <input type="text" name="_id" readonly>
    </fieldset>
    <fieldset>
      <label>NOME:</label>
      <input type="text" name="informacao.nome" readonly>
    </fieldset>
    <button type="submit">SALVAR</button>
</template>