Template.{{lowercase pack_name}}_grid.onCreated(function(){
  this.subscribe('{{lowercase pack_name}}')
});
Template.{{lowercase pack_name}}_grid.onRendered(function(){});
Template.{{lowercase pack_name}}_grid.helpers({});
Template.{{lowercase pack_name}}_grid.events({});
Template.{{lowercase pack_name}}_grid.onDestroyed(function(){});