Template.{{app_lower_case}}_grid.onCreated(function(){
  this.subscribe('{{app_lower_case}}')
});
Template.{{app_lower_case}}_grid.onRendered(function(){});
Template.{{app_lower_case}}_grid.helpers({});
Template.{{app_lower_case}}_grid.events({});
Template.{{app_lower_case}}_grid.onDestroyed(function(){});