Template.{{lowercase pack_name}}_fields.onCreated(function(){});
Template.{{lowercase pack_name}}_fields.onRendered(function(){});
Template.{{lowercase pack_name}}_fields.helpers({});
Template.{{lowercase pack_name}}_fields.events({});
Template.{{lowercase pack_name}}_fields.onDestroyed(function(){});