<template name="{{lowercase pack_name}}_grid">
    <!--TITULO DA PAGINA-->
    <h1>{{capitalize pack_name}}</h1>
    <!-- TABULAR -->
    <article>
        \{{> tabular table=TabularTables.{{capitalize pack_name}} class="ui celled table table-striped table-responsive"}}
    </article>
</template>