<template name="{{app_lower_case}}_grid">
    <!--TITULO DA PAGINA-->
    <h1>{{app_capitalize}}</h1>
    <!-- TABULAR -->
    <article>
        \{{> tabular table=TabularTables.{{app_capitalize}} class="ui celled table table-striped table-responsive"}}
    </article>
</template>