<template name="{{lowercase pack_name}}_form">
    <!--TITULO DA PAGINA-->
    <h1>{{capitalize pack_name}}</h1>
    <!-- FORM DA PAGINA -->
    <article>
      <form id="{{lowercase pack_name}}_form">
        \{{> {{lowercase pack_name}}_fields}}
      </form>
    </article>
</template>