<template name="{{lowercase pack_name}}_fields">
    {{#each fields}}
      <fieldset>
        <label for="{{lowercase this}}">{{capitalize this}}</label>
        <input type="text" name="{{lowercase this}}" readonly>
      </fieldset>
    {{/each}}

    <button type="submit">SALVAR</button>
</template>