Template.{{app_lower_case}}_form.onCreated(function(){});
Template.{{app_lower_case}}_form.onRendered(function(){});
Template.{{app_lower_case}}_form.helpers({});
Template.{{app_lower_case}}_form.events({});
Template.{{app_lower_case}}_form.onDestroyed(function(){});