import { Mongo } from "meteor/mongo";
import Schema from "./schema";

const {{capitalize pack_name}} = new Mongo.Collection("{{lowercase pack_name}}");
{{capitalize pack_name}}.attachSchema(Schema);

export default {{capitalize pack_name}};
