import { Meteor } from 'meteor/meteor';
import {{capitalize pack_name}} from '../model/collection';

if (Meteor.isServer) {
  Meteor.publish('{{lowercase pack_name}}', function(query = {}) {
    return {{capitalize pack_name}}.find(query);
  });
}
