import { Meteor } from 'meteor/meteor';
import {{capitalize pack_name}} from '../model/collection';

Meteor.methods({
  '{{lowercase pack_name}}.findOne'(_id) {
    return {{capitalize pack_name}}.findOne(_id);
  },
  '{{lowercase pack_name}}.insert'(grupo) {
    {{capitalize pack_name}}.insert(grupo);
  },
  '{{lowercase pack_name}}.remove'(grupoId) {
    {{capitalize pack_name}}.remove(grupoId);
  },
  '{{lowercase pack_name}}.update'(param) {
    {{capitalize pack_name}}.update({_id: param._id}, {$set: Object.assign({}, param.data)});
  },
});