import { Meteor } from 'meteor/meteor';
import {{app_capitalize}} from '../model/collection';

Meteor.methods({
  '{{app_lower_case}}.findOne'(_id) {
    return {{app_capitalize}}.findOne(_id);
  },
  '{{app_lower_case}}.insert'(grupo) {
    {{app_capitalize}}.insert(grupo);
  },
  '{{app_lower_case}}.remove'(grupoId) {
    {{app_capitalize}}.remove(grupoId);
  },
  '{{app_lower_case}}.update'(param) {
    {{app_capitalize}}.update({_id: param._id}, {$set: Object.assign({}, param.data)});
  },
});